
.input-component{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .form-input{
        font-size: var(--input-font-size);
        line-height: var(--input-line-height);
        padding: var(--input-padding);
        border: var(--input-border);
        border-radius: var(--input-border-radius);
    }
    
    .label-text{
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 17px;
        color: #84818A;
        backdrop-filter: blur(5px);
    }
}