<div class="sign-in-layout">
    <div class="inputs-area">
        <label class="title">Test page</label>
    
        <app-form-input></app-form-input>
        <app-form-input></app-form-input>
        <!-- <app-opening-sentence></app-opening-sentence> -->
        <button class="submit-button">Submit</button>
    </div>
    <div class="image-area">
        <label class="image-text" > Unlock the Power of <br> Conversation with NLPearl <br> and Transform Your <br> Business Interactions<br></label>
    </div>
</div>
